##########################
# Database configuration #
##########################

# Type (mysql, postgresql, oracle, etc...)
type 		= mysql

# Host (localhost, 127.0.0.1, etc...)
host 		= localhost

# Port (default : 3306)
port 		= 3306

# Database name
database 	= schoolmanager

# User config, to access to the database
user 		= schoolmanager
password 	= yBAAEyXZKF826aL7

##########################
#  Server configuration  #
##########################

# Listen port (default : 3000)
serverport = 3000